<% provide(:title, 'Contact') %>
<h1>How can we help you?</h1>
<p>
If you have an urgent question concerning an order you placed on Vietnammm.com, we advise you to directly contact the restaurant. You can find the number of the restaurant in the confirmation e-mail we sent you. For less urgent matters and general questions, please fill out the form below. Customer Service is available 7 days a week, from 07:30am to 11:00pm.
<br>
<br>
</p>

<div class="row">
    <div class="col-md-8">
      <div class="well well-sm">
        <div class="row">
          <form action="" method="POST" role="form">
	        <div class="form-group">
	        <div class="col-md-6">
	          <label for="">Name</label>
	          <input type="text" class="form-control" id="" >

	          <label for="">Email</label>
	          <input type="text" class="form-control" id="" >

	          <label for="">Number Phone</label>
	          <input type="text" class="form-control" id="" >

	          <label for="">Address</label>
	          <input type="text" class="form-control" id="" >
	        </div>
            <div class="float-left col-md-6">
              <label for="">Content</label>
              <textarea class="form-control " name="" rows="9" cols="20" ></textarea>
              <br/>
              <button type="submit" class="btn btn-primary pull-right" >Send</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <legend><i class="fa fa-globe" aria-hidden="true"></i> Office</legend>
      <address>
        <p><b>Website: </b>Dessert Online</span></p>
        <p><b>Address: </b></font><span>Số 54 Nguyen Luong Bang, Hoa Khanh Bac, Lien Chieu, Da Nang</span></p>
        <p><b>Gmail: </b><span>Smile@gmail.com</span></p>
        <p><b>Hotline: </b><span>0922 354 009</span></p>
      </address>

    </div>
</div>

<div class="row">
  <br></br>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1355.4616470985113!2d108.15136078393697!3d16.07459496484928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218d68dff9545%3A0x714561e9f3a7292c!2sDanang+University+of+Technology!5e0!3m2!1sen!2s!4v1490017936493" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
