<% provide(:title, 'Introduction') %>

<h1>DESSERT</h1>

<div class="row">
  <div class="col-md-3">
    <img style="width: 100%" src="/leftside.jpg" alt="Foods and Drinks">
    <br></br>
    <img style="width: 100%" src="/leftside2.jpg" alt="Foods and Drinks">
  </div>

  <div class="col-md-9">
    <p>To give customers relaxing moments, enjoy "Online junk food" is comfortable, convenient and most wonderful.</p>

    <p>We established a brand of Online Snacks, which is a model of selling Snacks for Online delivery in Dang Nang area.</p>

    <p>With criteria:</p>

    <p>Safe: Safe (delicious, cheap food).</p>

    <p>Enthusiastic: Enthusiastic staff.</p>

    <p>Time saving: Quickly.</p>

    <p>Fast: Shipped on time.</p>

    <p>Accurate: enough quantity and quality.</p>

    <p>You can also chat, text or visit the website: www.doanvatonline.com to order.</p>

    <p>With experienced chefs cooking in long-term restaurants, along with young and dynamic people, created.</p>

    <p>A rich quality menu with delicious and attractive snacks all the snacks, as well as everyone regardless of age and gender.</p>

    <p>nline - SETFA snacks with Slogan "We have wandered around to bring the best dishes to you", which has clearly shown the traditional snacks of Vietnamese people since ancient times combined. With modernity, keep up with new trends to meet the needs of today's customers. Coming to Online Snacks, you will be served thoroughly from packing, to the smallest items such as toothpick, eating paper ... You will feel really satisfied with our service.</p>

    <p>Customers ordering please contact the following address:</p>

    <p>************************************************************************</p>

    <p><strong>Email: Smile@gmail.com</strong></p>

    <p><strong>Website: localhost:3000</strong></p>

    <p><strong>Tel: 0922354009</strong></p>

    <p><strong>Very pleased to serve you!</strong></p>
  </div>
</div>

